<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Пошук ігор</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Результати пошуку для "<%= team %>"</h1>
  <a href="/schedule">Назад до розкладу</a>

  <% if (games.length === 0) { %>
    <p>Команду "<%= team %>" не знайдено у розкладі.</p>
  <% } else { %>
    <table>
      <tr>
        <th>Дата</th>
        <th>Учасники</th>
        <th>Результат</th>
      </tr>
      <% games.forEach(game => { %>
        <tr>
          <td><%= game.date %></td>
          <td><%= game.participants.join(' vs ') %></td>
          <td><%= game.score %></td>
        </tr>
      <% }) %>
    </table>
  <% } %>
</body>
</html>
